<html id="register">
<head>
    <meta charset="utf-8">
    <title>数字资产</title>
    {include file="layout/head" /}
</head>
<body>
<div class="mui-content" style="padding-bottom: 70px">
    <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
            <div class="mui-slider">
                <div class="mui-slider-group mui-slider-loop">
                    <!--支持循环，需要重复图片节点-->
                    {foreach $sl as $key=>$c}
                    <div class="mui-slider-item mui-slider-item-duplicate"><a href="{$c.url}"><img src="{$c.img}"/></a>
                    </div>
                    {/foreach}
                   
                </div>
            </div>
            <div class="white-box mui-row index-item">
          
                <div class="mui-col-xs-4 mui-col-sm-4 index-item-list" style="padding-right: 10px" >
                    <div   href="javascript:void(0)" data-msg="开发中，敬请期待"  class="index-item-list-div  my-tips" style="background: url(/static/img/dh.png) no-repeat;background-size: cover;">
                        晶盒任务
                    </div>
                </div>
                <div class="mui-col-xs-4 mui-col-sm-4 index-item-list" style="padding-left: 5px;padding-right: 5px">
                    <div href="javascript:void(0)" data-msg="开发中，敬请期待" class="index-item-list-div  my-tips" style="background: url(/static/img/fjsj.png)  no-repeat;background-size: cover;">
                        附近商家
                    </div>
                </div>
                <div class="mui-col-xs-4 mui-col-sm-4 index-item-list" style="padding-left: 10px">
                    <div onclick="jump('/index/index/phb')" class="index-item-list-div" style="background: url(/static/img/phb.png)  no-repeat;background-size: cover;">
                        排行榜
                    </div>
                </div>
                <div class="mui-col-xs-4 mui-col-sm-4 index-item-list" style="padding-right: 10px" >
                    <div href="javascript:void(0)" data-msg="开发中，敬请期待" class="index-item-list-div  my-tips" style="background: url(/static/img/jzyl.png)  no-repeat;background-size: cover;">
                        捐赠有礼
                    </div>
                </div>
                <div class="mui-col-xs-4 mui-col-sm-4 index-item-list" style="padding-left: 5px;padding-right: 5px">
                    <div href="javascript:void(0)" data-msg="开发中，敬请期待" class="index-item-list-div  my-tips" style="background: url(/static/img/lljh.png)  no-repeat;background-size: cover;">
                        晶石计划
                    </div>
                </div>
                <div class="mui-col-xs-4 mui-col-sm-4 index-item-list" style="padding-left: 10px">
                    <div href="javascript:void(0)" data-msg="开发中，敬请期待" class="index-item-list-div  my-tips" style="background: url(/static/img/llb.png)  no-repeat;background-size: cover;">
                        晶石钱包
                    </div>
                </div>
            </div>
            <div class="white-box notice-box" style="margin-bottom: 100px">
                <div class="header">
                    公告
                </div>
                <ul class="mui-table-view content" style="margin-top: 10px;">
                    {foreach $list as $c}
                    <li class="mui-table-view-cell mui-media gg">
                        <a href="/index/index/articleinfo?articleId={$c->article_id}">
                            <img class="mui-media-object mui-pull-left" src="/static/img/logo.png">
                            <div class="mui-media-body">
                                {$c->title}
                                <p class='mui-ellipsis'>{$c->create_time}</p>
                            </div>
                        </a>
                    </li>
                    {/foreach}
                </ul>
            </div>
        </div>
    </div>

</div>
{include file="layout/nav" /}
</body>
{include file="layout/footer" /}
<script type="text/javascript">
    var gallery = mui('.mui-slider');
    gallery.slider({
        interval: 3000//自动轮播周期，若为0则不自动播放，默认为0；
    });
    mui('.mui-scroll-wrapper').scroll({
        deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
    });
</script>

</html>