/*header*/

.header_bt{
    width: 6.4rem;
    position: fixed;
    top: 0;
    height: .73rem;
    background: #fff;
    z-index: 101;
    /*background: linear-gradient(to right, #fe8500 , #f93d00);*/
}

.header_f{
    width: .67rem;
    height: .73rem;
    float: left;
    text-align: center;
}
.header_f .header_fh{
    width: .2rem;
    height: .35rem;
    margin-top: .2rem;
    background: url("../images/left.png") center no-repeat;
    background-size: .3rem;
    display: inline-block;
}
.header_c{
    width: 4.96rem;
    height: .73rem;
    float: left;
    text-align: center;
    font-size: .3rem;
    line-height: .73rem;
    color:#000;
}
.header_r{
    height: .73rem;
    line-height: .73rem;
    font-size: .3rem;
}
.gwcbt_mc span{
    float: right;
}
.gwcbt_mc span a{
    font-size: .24rem!important;
    color: #333;
}
/*我的*/
.wd-page{
    width: 100%;
    background-color: #ffffff;
}

.wd-page .wd-header{
    width: 94%;
    margin: 0 auto;
    overflow: hidden;
    padding-top: .25rem;
}
.wd-page .wd-header .header_l{
    float: left;
}
.wd-page .wd-header img{
    width: 1.1rem;
    height: 1.1rem;
    margin-right: .25rem;
}
.wd-page .wd-header span{
    font-size: .26rem;
}
.wd-page .wd-header span:last-child{
    color:#909090;
    font-size: .24rem;
}
.wd-page .wd_info span i{
    background: url(../images/copy_min.png) no-repeat center;
    background-size: 100%;
    height: .28rem;
    width: .28rem;
    display: inline-block;
    vertical-align: text-top;
}
.wd-page i.arrow_r{
    float: right;
    background: url("../images/arrow_r.png") no-repeat center;
    background-size: 100%;
    height: .8rem;
    width: .3rem;
}
.wd-page .wd-middle{
    width: 100%;
}
.wd-page .wd-middle .middle-l{
    width: 97%;
    background: url("../images/wd-mid_bg.png") no-repeat center;
    background-size: 100%;
    height: 2rem;
    margin: .1rem auto 0;
    color:#fff;
    font-size: .3rem;
}
.wd-page .wd-middle p:first-child{
    padding: .45rem 0 .1rem;
    margin-left: .3rem;
}
.wd-page .wd-middle p:last-child{
    font-size: .5rem;
    font-weight: bold;
    margin-left: .3rem;
}
.wd-page .wd-middle p em{
    font-size: .25rem;
}
.wd-content li span{
    color:#333333;
    font-size: .28rem;
}
.wd-content li{
    height: .8rem;
    line-height: .8rem;
    width: 92%;
    margin: 0 auto;
}
.wd-content ul{
    overflow: hidden;
    width: 100%;
}
.wd-content div{
    float: left;
}
.wd-content div img{
    width: .4rem;
    height: .4rem;
    vertical-align: middle;
    margin-right: 1px;
}

ul li i.arrow_r{
    float: right;
    background: url("../images/arrow_r.png") no-repeat center;
    background-size: 100%;
    height: .8rem;
    width: .28rem;
}
.wd-content li i.copy_r{
    float: right;
    background: url("../images/copy_r.png") no-repeat center;
    background-size: 100%;
    height: .8rem;
    width: .32rem;
}
/*个人信息*/
.grxx-page{
    width: 100%;
    background-color: #fff;
    text-align: center;
}
.grxx-page img {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    margin:.4rem 0 ;

}
.grxx-page ul ul{
    overflow: hidden;
}
.grxx-page ul li{
    height: .8rem;
    line-height: .8rem;
    border-bottom:solid 1px #f6f7f9 ;
    font-size: .27rem;
    color: #333333;

}
.grxx-page ul li span:first-child{
    float: left;
    margin-left: 4%;
}

.grxx-page ul li span:last-child{
    float: right;
    margin-right: 4%;
    color: #9a9a9a;
}
.grxx-page ul li span:last-child i.arrow_r{
    margin-left: 4px;
}

.grxx_btn{
    width: 100%;
    margin-top: .6rem;
}
/*身份认证*/
.sfrz-page{
    width: 100%;
    background-color: #ffffff;
}
.sfrz-page ul{
    overflow: hidden;
}
.sfrz-page ul li{
    height: 1rem;
    width: 94%;
    margin: 0 auto;
    line-height: 1rem;
    color:#212121;
    border-bottom:solid 1px #f6f7f9 ;
    font-size: .27rem;
}
.sfrz-page ul li span:first-child{
    float: left;

}
.sfrz-page ul li span:last-child{
    font-size: .26rem;
    float: right;
}
.sfrz-page ul li span:last-child .input_line{
    width: 3rem;
    font-size: .26rem;
    height: 1rem;
    float: right;
    text-align: right;

}
.sfrz-page ul li.title{
    font-weight: bold;
    font-size: .5rem;
    height: 1.2rem;
    line-height: 1.2rem;
}
.sfrz_btn{
    position: fixed;
    left: 10%;
    bottom: 1.4rem;
    width: 100%;
}
.sfrz_btn button.button_btn{
    border-radius: 0;
    margin: 0;
}
/*资金密码*/
.zjmm-page{
    width: 100%;
    margin-top: .3rem;
}
.zjmm-page li{
    width: 88%;
    margin: 0 auto .4rem;
    height: .8rem;
    line-height: .8rem;
    background-color: #f4f5f5;
    font-size: .26rem;
    color:#333333

}
.zjmm-page li:hover{
    box-shadow:0 0 2px 1px #a577ff;
}
.zjmm-page li.no_show_line:hover{
    box-shadow:none;
}
.zjmm-page input.input_line{
    float: left;
    height: .8rem;
    line-height: .8rem;
    width: 3rem;
    background-color: #f4f5f5;
    font-size: .25rem;
    padding-left: .2rem;
}


.zjmm-page li.eye ,.zjmm-page li span{
    float: right;
    padding-right: .2rem;
}
.zjmm-page li span{
    color: #10c1a5;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #999da1;

}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #999da1;

}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #999da1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #999da1;
}

.zjmm_btn button.button_btn{
    border-radius: 0;
    background-color: #919598;
    color: #fff;
    width: 88%;
    margin-top: .3rem;
}
.zjmm_btn p{
    color: #ffb200;
    font-size: .23rem;
    width: 86%;
    margin: .3rem  auto;
}

/*注册*/
.zc-page{
    margin: .5rem 0 .7rem 6%;
}
.zc-page span.title{
    color: #05b793;
    font-size: .35rem;
    font-weight: bold;
    padding-bottom: .1rem;
    border-bottom: solid 2px #05b793;
}
.zjmm-page li.qh em{
    float: left;
    padding-left: .2rem;
}
.zjmm-page li.qh .input_line{
    padding-left: .1rem;
}
.zc-page_btn button.button_btn{
    height: .8rem;
    line-height: .8rem;
    font-weight: bold;
    font-size: .3rem;
    border-radius: 2px;
}
/*登录*/
.zc-page_btn p{
    color: #05b793;
}
.zc-page_btn p.forget_pwd{
    color: #05b793;
}
.zcdl-page ul li:hover{
    box-shadow:0 0 2px 1px #05b793;
}
.zc-page_btn p.bcmm{
    color: #ffbf00;
}
/*忘记密码*/
.wjmm-page{
    margin-top: 1rem;
}

/*邀请返佣*/
.yqfy-page{
    width: 100%;
    position: relative;
}
.yqfy-page .yqfy_header{
    background-color: #13c9a3;
    height: 2rem;
    width: 92%;
    margin: .35rem auto .3rem;
    text-align: center;
    border-radius: 5px;
}
.yqfy-page  p{
    color: #fff;
    font-size:.27rem;
}
.yqfy-page .wrap p:last-child{
    font-size: .4rem;
    font-weight: bold;
    margin-top: .1rem;
}
.yqfy-page .yqfy_header .wrap{
    width: 100%;
    text-align: center;
}
.yqfy-page .yqfy_header .column{
    width: 50%;
    margin: .2rem 0;
}
.yqfy-page .yqfy_header p.tips{
    font-size: .22rem;
}
.yqfy-page .yqfy_header i{
    background: url(../images/arrow_wr.png) no-repeat center;
    width: .35rem;
    height: .6rem;
    display: inline-block;
    background-size: 100%;
    vertical-align: bottom;
}
.yqfy-page .yqfy_mid,.yqfy-page .yqfy_bottom,.yqfy-page .yqfy_title{
    width: 92%;
    margin:  0 auto;
}
.yqfy-page .yqfy_mid img{
    width: 100%;
    height: 2.2rem;
}
.yqfy-page .yqfy_con{
    width: 92%;
    margin: .3rem auto .4rem;
}
.yqfy-page .yqfy_con li{
    height: .8rem;
    line-height: .8rem;
    color: #006550;
    font-size: .24rem;
    width: 100%;
    text-align: left;
}
.yqfy-page .yqfy_con li span{
    width: 20%;
    display: inline-block;
}
.yqfy-page .yqfy_con li span:nth-child(2){
    width: 58%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: bottom;
}
.yqfy-page .yqfy_con li span:nth-child(3) {
    padding: 5px 15px;
    box-shadow: 0 0 2px 2px #ebf0f1;
    display: inline;
    border-radius: 3px;
}
.yqfy-page .yqfy_bottom img{
    width: 100%;
    height: .85rem;
    margin-top: .3rem;
}
.yqfy-page .yqfy_title{
    background-color: #05b793;
    text-align: center;
    height: .75rem;
    line-height: .75rem;
    color:#fff;
    font-size: .26rem;
    font-weight: bold;
    border-radius: 2px;
}
/*邀请明细*/
.yq-body{
    width: 100%;
    /*background: url("../images/1-bg.png") center ;*/
    background: linear-gradient(to bottom,#004b4e,#00575e, #005859 , #005f65,#007179,#01717d,#045d6b,#064959,#093244,#10041c,#11031c);

}
.yqmx-body .header_bt{
    background:url("../images/yqmx_h_bgk.png") no-repeat center;
    background-size: 100%;
    height: 3.15rem;
}
.yq-body .header_f .header_fh{
    width: .32rem;
    height: .35rem;
    background: url(../images/arrow_wl.png) center no-repeat;
    background-size: 100%;
    margin-left: .35rem;
}
.yq-body .header_c{
    color:#fff;
}

.yqmx-body .yqmx-title{
    color: #ffffff;
    font-size: .28rem;
    display: inline-block;
    margin-left: .5rem;
}
.yqmx-body .yqmx-title p:first-child{
    margin: .4rem 0
}
.yqmx-body .yqmx-title p:last-child{
    font-weight: bold;
    font-size: .45rem;
}
.yqmx-page{
    width: 100%;
}

.yqmx-page ul li{
    margin: 0 auto .3rem;
    width: 92%;
    background: linear-gradient(to bottom , rgb(22, 110, 114), rgb(21, 114, 122),rgb(22, 119, 126),rgb(22, 125, 134));
    height: 1.75rem;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px #157a82;
    opacity: 0.9;
}
.yqmx-page ul div{
    float: left;
    color: #ffffff;
    font-size: .28rem;
    margin-top: .4rem;
    margin-left: .3rem;
}
.yqmx-page ul div p:first-child{
    margin-bottom: .15rem;
}
.yqmx-page ul i{
    background: url("../images/arrow_wr.png") no-repeat center;
    background-size: 100%;
    height: 1.75rem;
    width: .3rem;
    display: inline-block;
    float: right;
    vertical-align: middle;
    margin-right: .2rem;
}
/*直推下线*/
.ztxx-body .header_bt{
    background: linear-gradient(to bottom , #004445,#004648,#00555b);
    width: 100%;
}
.ztxx-page{
    width: 100%;
    margin-top: .15rem;
}
.ztxx-page table{
    width: 100%;

}
.ztxx-page tr{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    text-align: center;
    color: #ffffff;
    font-size: .27rem;
}
.ztxx-page tr th,.ztxx-page tr td{
    width: 33%;
    text-align: center;
    margin-bottom: .12rem;
}
.ztxx-page tr td{
    font-size: .26rem;
}
.yjjr-page tr{
    width: 90%;
    margin: 0 auto;
}
.yjjr-page tr th,.yjjr-page tr td{
    width: 25%;
    font-size: .26rem;
}
.yjjr-page tr td{
    font-size: .24rem;
}

/*流水明细*/
.lsmx-page{
    width:100%;

}
.lsmx-page ul li{
    width: 92%;
    margin: .2rem auto 0;
    background-color: #ffffff;
    border-radius: 5px;
    height: 1.3rem;
    font-size: .25rem;
}
.lsmx-page ul li i.task_icon{
    background: url(../images/task_icon.png) no-repeat center;
    width: .5rem;
    height: .5rem;
    display: inline-block;
    background-size: 100%;
    vertical-align: text-bottom;
}

.lsmx-page ul li p:first-child{
    margin-top: .25rem;
    margin-left: .3rem;
}
.lsmx-page ul li p:last-child{
    margin-top: .1rem;
    margin-left: .9rem;
    color: #777;
    font-size: .23rem;
}
.lsmx-page ul li span:last-child{
    float: right;
    margin-top: .25rem;
    margin-right: .3rem;
}
.lsmx-page ul li i.sr2_icon{
    background: url(../images/sr2_icon.png) no-repeat center;
    width: .5rem;
    height: .5rem;
    display: inline-block;
    background-size: 100%;
    vertical-align: text-bottom;
}
.lsmx-page ul li i.sr1_icon{
    background: url(../images/sr1_icon.png) no-repeat center;
    width: .5rem;
    height: .5rem;
    display: inline-block;
    background-size: 100%;
    vertical-align: text-bottom;
}
/*邀请扶持*/
.yqfc-page{
    width: 100%;
}
.yqfc-page .yqfc_header{
    margin: .3rem auto  ;
    width: 90%;
}
.yqfc-page .yqfc_header_item{
    width: 48%;
    height: 1.8rem;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    font-size: .23rem;
}
.yqfc-page .yqfc_header_item:first-child{
    background-color: #5095f4;
}
.yqfc-page .yqfc_header_item:last-child{
    background-color: #2bb2ac;
}
.yqfc-page .yqfc_header_item p:first-child{
    margin-top: .25rem;
}
.yqfc-page .yqfc_header_item p:nth-child(2){
    font-size: .4rem;
    font-weight: bold;
    margin: .1rem 0;
}
.yqfc-page .yqfc_title{
    font-weight: bold;
    font-size: .35rem;
    font-style: italic;
    color: #13b7b0;
    text-align: center;
}

.yqfc-page .yqfc_content{
    width: 92%;
    margin: 0 auto .35rem;
}
.yqfc_content .yqfc_content_item{
    width: 100%;
    height: 1.6rem;
    margin-top: .2rem;
}
.yqfc_content .yqfc_content_item .yqfc_content_item_l{
    width: 70%;

}
.yqfc_content .yqfc_content_item .yqfc_content_item_l .title{
    font-weight: bold;
    margin-top: .2rem;
    margin-left: .3rem;
    font-size: .28rem;
}
.yqfc_content .yqfc_content_item .yqfc_content_item_l .info{
    margin-top: .2rem;
    margin-left: .3rem;
    font-size: .22rem;
    width: 60%;
}

.yqfc_content .yqfc_content_item .yqfc_content_item_r{
    width: 30%;
    text-align: center;
    line-height: 1.6rem;
    color:#8d8d8d;
    font-size: .22rem;
    font-weight: bold;
}
.yqfc_content .yqfc_content_item .already_get{
    color: #ffffff;
}

.yqfc_content .yqfc_content_item .xj-content_l_bgk_1{

    background:  radial-gradient(circle at top right, transparent 5px, #bee6ee 0) top right,
    radial-gradient(circle at bottom right, transparent 5px, #bee6ee 0) bottom right;
    background-size: 100% 60%;
    background-repeat: no-repeat;
    color: #009b95;
}
.yqfc_content .yqfc_content_item .xj-content_r_bgk_1{
    background:  radial-gradient(circle at top left, transparent 5px, #00b9b1 0) top left,
    radial-gradient(circle at bottom left, transparent 5px, #00b9b1 0) bottom left;
    background-size: 100% 60%;
    background-repeat: no-repeat;
}

.yqfc_content .yqfc_content_item .xj-content_l_bgk_2{
    background:  radial-gradient(circle at top right, transparent 5px, #c9defd 0) top right,
    radial-gradient(circle at bottom right, transparent 5px, #c9defd 0) bottom right;
    background-size: 100% 60%;
    background-repeat: no-repeat;
    color: #2c80ef;
}
.yqfc_content .yqfc_content_item .xj-content_r_bgk_2{
    background:  radial-gradient(circle at top left, transparent 5px, #207df6 0) top left,
    radial-gradient(circle at bottom left, transparent 5px, #207df6 0) bottom left;
    background-size: 100% 60%;
    background-repeat: no-repeat;
}

.yqfc_content .yqfc_content_item .xj-content_l_bgk_3{
    background:  radial-gradient(circle at top right, transparent 5px, #fff1cb 0) top right,
    radial-gradient(circle at bottom right, transparent 5px, #fff1cb 0) bottom right;
    background-size: 100% 60%;
    background-repeat: no-repeat;
    color: #ffb821;
}
.yqfc_content .yqfc_content_item .xj-content_r_bgk_3{
    background:  radial-gradient(circle at top left, transparent 5px, #ffca5a 0) top left,
    radial-gradient(circle at bottom left, transparent 5px, #ffca5a 0) bottom left;
    background-size: 100% 60%;
    background-repeat: no-repeat;
}


.yqfc_content .yqfc_content_item .xj-content_l_bgk_4{

    background:  radial-gradient(circle at top right, transparent 5px, #eee2d6 0) top right,
    radial-gradient(circle at bottom right, transparent 5px, #eee2d6 0) bottom right;
    background-size: 100% 60%;
    background-repeat: no-repeat;
    color: #e88d29;
}
.yqfc_content .yqfc_content_item .xj-content_r_bgk_4{

    background:  radial-gradient(circle at top left, transparent 5px, #f79c33 0) top left,
    radial-gradient(circle at bottom left, transparent 5px, #f79c33 0) bottom left;
    background-size: 100% 60%;
    background-repeat: no-repeat;

}
.yqfc_content .yqfc_content_item .xj-content_l_bgk_5{

    background:  radial-gradient(circle at top right, transparent 5px, #efd8e0 0) top right,
    radial-gradient(circle at bottom right, transparent 5px, #efd8e0 0) bottom right;
    background-size: 100% 60%;
    background-repeat: no-repeat;
    color: #ff6f67;
}
.yqfc_content .yqfc_content_item .xj-content_r_bgk_5{
    background:  radial-gradient(circle at top left, transparent 5px, #ff6f67 0) top left,
    radial-gradient(circle at bottom left, transparent 5px, #ff6f67 0) bottom left;
    background-size: 100% 60%;
    background-repeat: no-repeat;

}





















.wd_line{
    height:  .15rem;
    width: 100%;
    background-color: #f6f7f9;
}

/*错误提示*/
.errmsg{
    text-align: center;
    font-size: .24rem;
    height: .55rem;
    margin: .2rem auto .3rem;
}
.errmsg i{
    height: .55rem;
    line-height: .55rem;
    padding: 0 .45rem;
    display: inline-block;
}
.errmsg .tipmsg{
    background-color: #d9d9d9;
    border-radius: 20px;
}


/*底部-top*/
.footer_main{position: fixed;left:0;bottom:0;width: 100%;height: .9rem;background-color: #fff;z-index: 9;}
.footer_main ul{width: 100%;font-size: .2rem;}
.footer_main ul li{float:left;width: 20%;padding: .55rem 0 .1rem 0;text-align: center;position: relative;}
.footer_main ul li a{color: #a3a3a3;}
.footer_main ul li.footer_fl{background: url("../images/gw-xz.png") center .05rem no-repeat;background-size: .43rem;}
.footer_main ul li.footer_f2{background: url("../images/zz-xz.png") center .05rem no-repeat;background-size: .43rem;}
.footer_main ul li.footer_f3{background: url("../images/jy-xz.png") center .05rem no-repeat;background-size: .43rem;}
.footer_main ul li.footer_f4{background: url("../images/fl-xz.png") center .05rem no-repeat;background-size: .43rem;}
.footer_main ul li.footer_f5{background: url("../images/wd-xz.png") center .05rem no-repeat;background-size: .43rem;}
.footer_main ul li.footer_active_f1{background: url("../images/gw-wxz.png") center .05rem no-repeat;background-size: .43rem;}
.footer_main ul li.footer_active_f2{background: url("../images/zz-wxz.png") center .05rem no-repeat;background-size: .43rem;}
.footer_main ul li.footer_active_f3{background: url("../images/jy-wxz.png") center .05rem no-repeat;background-size: .43rem;}
.footer_main ul li.footer_active_f4{background: url("../images/fl-wxz.png") center .05rem no-repeat;background-size: .43rem;}
.footer_main ul li.footer_active_f5{background: url("../images/wd-wxz.png") center .05rem no-repeat;background-size: .43rem;}
.footer_main ul li[class*="footer_active_f"] a{
    color:#ffb200
}
/*底部-end*/










































