/*header*/

.header_bt{
    width: 6.4rem;
    position: fixed;
    top: 0;
    height: .73rem;
    background: #fff;
    z-index: 101;
    /*background: linear-gradient(to right, #fe8500 , #f93d00);*/
}

.header_f{
    width: .67rem;
    height: .73rem;
    float: left;
    text-align: center;
}
.header_f .header_fh{
    width: .2rem;
    height: .35rem;
    margin-top: .2rem;
    background: url("../images/left.png") center no-repeat;
    background-size: .3rem;
    display: inline-block;
}
.header_c{
    width: 4.96rem;
    height: .73rem;
    float: left;
    text-align: center;
    font-size: .3rem;
    line-height: .73rem;
    color:#000;
}
.header_r{
    height: .73rem;
    line-height: .73rem;
    font-size: .28rem;
}
.header_r .header_fr{
    width: .32rem;
    height: .38rem;
    margin-top: .2rem;
    background: url(../images/jilu.png) center no-repeat;
    background-size: 100%;
    display: inline-block;
    margin-left: .16rem;
}
.gwcbt_mc span{
    float: right;
}
.gwcbt_mc span a{
    font-size: .24rem!important;
    color: #333;
}
/*我的*/
.wd-page{
    width: 100%;
    background-color: #ffffff;
}

.wd-page .wd-header{
    width: 94%;
    margin: 0 auto;
    overflow: hidden;
    padding-top: .25rem;
}
.wd-page .wd-header .header_l{
    float: left;
}
.wd-page .wd-header img{
    width: 1.1rem;
    height: 1.1rem;
    margin-right: .25rem;
}
.wd-page .wd-header span{
    font-size: .26rem;
}
.wd-page .wd-header span:last-child{
    color:#909090;
    font-size: .25rem;
}
.wd-page .wd_info span i{
    background: url(../images/copy_min.png) no-repeat center;
    background-size: 100%;
    height: .28rem;
    width: .28rem;
    display: inline-block;
    vertical-align: text-top;
}
.wd-page i.arrow_r{
    float: right;
    background: url("../images/arrow_r.png") no-repeat center;
    background-size: 100%;
    height: .8rem;
    width: .3rem;
}
.wd-page .wd-middle{
    width: 100%;
}
.wd-page .wd-middle .middle-l{
    width: 97%;
    background: url("../images/wd-mid_bg.png") no-repeat center;
    background-size: 100%;
    height: 2rem;
    margin: .1rem auto 0;
    color:#fff;
    font-size: .28rem;
}
.wd-page .wd-middle p:first-child{
    padding: .45rem 0 .1rem;
    margin-left: .3rem;
}
.wd-page .wd-middle p:last-child{
    font-size: .45rem;
    font-weight: bold;
    margin-left: .3rem;
}
.wd-page .wd-middle p em{
    font-size: .25rem;
}
.wd-content li span{
    color:#333333;
    font-size: .28rem;
}
.wd-content li{
    height: .8rem;
    line-height: .8rem;
    width: 92%;
    margin: 0 auto;
}
.wd-content ul{
    overflow: hidden;
    width: 100%;
}
.wd-content div{
    float: left;
}
.wd-content div img{
    width: .4rem;
    height: .4rem;
    vertical-align: middle;
    margin-right: 1px;
}

ul li i.arrow_r{
    float: right;
    background: url("../images/arrow_r.png") no-repeat center;
    background-size: 100%;
    height: .8rem;
    width: .28rem;
}
.wd-content li i.copy_r{
    float: right;
    background: url("../images/copy_r.png") no-repeat center;
    background-size: 100%;
    height: .8rem;
    width: .32rem;
}
/*个人信息*/
.grxx-page{
    width: 100%;
    background-color: #fff;
    text-align: center;
}
.grxx-page img {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    margin:.4rem 0 ;

}
.grxx-page ul ul{
    overflow: hidden;
}
.grxx-page ul li{
    height: .8rem;
    line-height: .8rem;
    border-bottom:solid 1px #f6f7f9 ;
    font-size: .27rem;
    color: #333333;

}
.grxx-page ul li span:first-child{
    float: left;
    margin-left: 4%;
}

.grxx-page ul li span:last-child{
    float: right;
    margin-right: 4%;
    color: #9a9a9a;
}
.grxx-page ul li span:last-child i.arrow_r{
    margin-left: 4px;
}

.grxx_btn{
    width: 100%;
    margin-top: .6rem;
}
/*身份认证*/
.sfrz-page{
    width: 100%;
    background-color: #ffffff;
}
.sfrz-page ul{
    overflow: hidden;
}
.sfrz-page ul li{
    height: 1rem;
    width: 94%;
    margin: 0 auto;
    line-height: 1rem;
    color:#212121;
    border-bottom:solid 1px #f6f7f9 ;
    font-size: .27rem;
}
.sfrz-page ul li span:first-child{
    float: left;

}
.sfrz-page ul li span:last-child{
    font-size: .26rem;
    float: right;
}
.sfrz-page ul li span:last-child .input_line{
    width: 3rem;
    font-size: .26rem;
    height: 1rem;
    float: right;
    text-align: right;

}
.sfrz-page ul li.title{
    font-weight: bold;
    font-size: .5rem;
    height: 1.2rem;
    line-height: 1.2rem;

}
.sfrz_btn{
    position: fixed;
    left: 10%;
    bottom: 1.4rem;
    width: 100%;
}
.sfrz_btn button.button_btn{
    border-radius: 0;
    margin: 0;
}
/*资金密码*/
.zjmm-page{
    width: 100%;
    margin-top: .3rem;
}
.zjmm-page li{
    width: 88%;
    margin: 0 auto .4rem;
    height: .8rem;
    line-height: .8rem;
    background-color: #f4f5f5;
    font-size: .26rem;
    color:#333333

}
.zjmm-page li:hover{
    box-shadow:0 0 2px 1px #a577ff;
}
.zjmm-page li.no_show_line:hover{
    box-shadow:none;
}
.zjmm-page input.input_line{
    float: left;
    height: .8rem;
    line-height: .8rem;
    width: 3rem;
    background-color: #f4f5f5;
    font-size: .25rem;
    padding-left: .2rem;
}


.zjmm-page li i.eye ,.zjmm-page li span{
    float: right;
    margin-right: .2rem;
    background: url('../images/eye_hide.png') no-repeat center;
    background-size: 100%;
    width: .4rem;
    height: .8rem;
}
.zjmm-page li i.active {
    float: right;
    margin-right: .2rem;
    background: url('../images/eye_show.png') no-repeat center;
    background-size: 100%;
    width: .4rem;
    height: .8rem;
}
.zjmm-page li span{
    color: #10c1a5;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #999da1;

}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #999da1;

}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #999da1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #999da1;
}

.zjmm_btn button.button_btn{
    border-radius: 0;
    background-color: #919598;
    color: #fff;
    width: 88%;
    margin-top: .3rem;
}
.zjmm_btn p{
    color: #ffb200;
    font-size: .23rem;
    width: 86%;
    margin: .3rem  auto;
}

/*注册*/
.zc-page{
    margin: .5rem 0 .7rem 6%;
}
.zc-page span.title{
    color: #05b793;
    font-size: .35rem;
    font-weight: bold;
    padding-bottom: .1rem;
    border-bottom: solid 2px #05b793;
}
.zjmm-page li.qh em{
    float: left;
    padding-left: .2rem;
}
.zjmm-page li.qh .input_line{
    padding-left: .1rem;
}
.zc-page_btn button.button_btn{
    height: .8rem;
    line-height: .8rem;
    font-weight: bold;
    font-size: .3rem;
    border-radius: 2px;
}
/*登录*/
.zc-page_btn p{
    color: #05b793;
}
.zc-page_btn p.forget_pwd{
    color: #05b793;
}
.zcdl-page ul li:hover{
    box-shadow:0 0 2px 1px #05b793;
}
.zc-page_btn p.bcmm{
    color: #ffbf00;
}
/*忘记密码*/
.wjmm-page{
    margin-top: 1rem;
}

/*邀请返佣*/
.yqfy-page{
    width: 100%;
    position: relative;
}
.yqfy-page .yqfy_header{
    background-color: #13c9a3;
    height: 2rem;
    width: 92%;
    margin: .35rem auto .3rem;
    text-align: center;
    border-radius: 5px;
}
.yqfy-page  p{
    color: #fff;
    font-size:.27rem;
}
.yqfy-page .wrap p:last-child{
    font-size: .4rem;
    font-weight: bold;
    margin-top: .1rem;
}
.yqfy-page .yqfy_header .wrap{
    width: 100%;
    text-align: center;
}
.yqfy-page .yqfy_header .column{
    width: 50%;
    margin: .2rem 0;
}
.yqfy-page .yqfy_header p.tips{
    font-size: .22rem;
}
.yqfy-page .yqfy_header i{
    background: url(../images/arrow_wr.png) no-repeat center;
    width: .35rem;
    height: .6rem;
    display: inline-block;
    background-size: 100%;
    vertical-align: bottom;
}
.yqfy-page .yqfy_mid,.yqfy-page .yqfy_bottom,.yqfy-page .yqfy_title{
    width: 92%;
    margin:  0 auto;
}
.yqfy-page .yqfy_mid img{
    width: 100%;
    height: 2.2rem;
}
.yqfy-page .yqfy_con{
    width: 92%;
    margin: .3rem auto .4rem;
}
.yqfy-page .yqfy_con li{
    height: .8rem;
    line-height: .8rem;
    color: #006550;
    font-size: .24rem;
    width: 100%;
    text-align: left;
}
.yqfy-page .yqfy_con li span{
    width: 20%;
    display: inline-block;
}
.yqfy-page .yqfy_con li span:nth-child(2){
    width: 58%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: bottom;
}
.yqfy-page .yqfy_con li span:nth-child(3) {
    padding: 5px 15px;
    box-shadow: 0 0 2px 2px #ebf0f1;
    display: inline;
    border-radius: 3px;
}
.yqfy-page .yqfy_bottom img{
    width: 100%;
    height: .85rem;
    margin-top: .3rem;
}
.yqfy-page .yqfy_title{
    background-color: #05b793;
    text-align: center;
    height: .75rem;
    line-height: .75rem;
    color:#fff;
    font-size: .26rem;
    font-weight: bold;
    border-radius: 2px;
}
/*邀请明细*/
.yq-body{
    width: 100%;
    /*background: url("../images/1-bg.png") center ;*/
    background: linear-gradient(to bottom,#004b4e,#00575e, #005859 , #005f65,#007179,#01717d,#045d6b,#064959,#093244,#10041c,#11031c);

}
.yqmx-body .header_bt{
    background:url("../images/yqmx_h_bgk.png") no-repeat center;
    background-size: 100%;
    height: 3.15rem;
}
.yq-body .header_f .header_fh{
    width: .32rem;
    height: .35rem;
    background: url(../images/arrow_wl.png) center no-repeat;
    background-size: 100%;
    margin-left: .35rem;
}
.yq-body .header_c{
    color:#fff;
}

.yqmx-body .yqmx-title{
    color: #ffffff;
    font-size: .28rem;
    display: inline-block;
    margin-left: .5rem;
}
.yqmx-body .yqmx-title p:first-child{
    margin: .4rem 0
}
.yqmx-body .yqmx-title p:last-child{
    font-weight: bold;
    font-size: .45rem;
}
.yqmx-page{
    width: 100%;
}

.yqmx-page ul li{
    margin: 0 auto .3rem;
    width: 92%;
    background: linear-gradient(to bottom , rgb(22, 110, 114), rgb(21, 114, 122),rgb(22, 119, 126),rgb(22, 125, 134));
    height: 1.75rem;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px #157a82;
    opacity: 0.9;
}
.yqmx-page ul div{
    float: left;
    color: #ffffff;
    font-size: .28rem;
    margin-top: .4rem;
    margin-left: .3rem;
}
.yqmx-page ul div p:first-child{
    margin-bottom: .15rem;
}
.yqmx-page ul i{
    background: url("../images/arrow_wr.png") no-repeat center;
    background-size: 100%;
    height: 1.75rem;
    width: .3rem;
    display: inline-block;
    float: right;
    vertical-align: middle;
    margin-right: .2rem;
}
/*直推下线*/
.ztxx-body .header_bt{
    background: linear-gradient(to bottom , #004445,#004648,#00555b);
    width: 100%;
}
.ztxx-page{
    width: 100%;
    margin-top: .15rem;
}
.ztxx-page table{
    width: 100%;

}
.ztxx-page tr{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    text-align: center;
    color: #ffffff;
    font-size: .27rem;
}
.ztxx-page tr th,.ztxx-page tr td{
    width: 33%;
    text-align: center;
    margin-bottom: .12rem;
}
.ztxx-page tr td{
    font-size: .26rem;
}
.yjjr-page tr{
    width: 90%;
    margin: 0 auto;
}
.yjjr-page tr th,.yjjr-page tr td{
    width: 25%;
    font-size: .26rem;
}
.yjjr-page tr td{
    font-size: .24rem;
}

/*流水明细*/
.lsmx-page{
    width:100%;

}
.lsmx-page ul li{
    width: 92%;
    margin: .2rem auto 0;
    background-color: #ffffff;
    border-radius: 5px;
    height: 1.3rem;
    font-size: .25rem;
}
.lsmx-page ul li i.task_icon{
    background: url(../images/task_icon.png) no-repeat center;
    width: .5rem;
    height: .5rem;
    display: inline-block;
    background-size: 100%;
    vertical-align: text-bottom;
}

.lsmx-page ul li p:first-child{
    margin-top: .25rem;
    margin-left: .3rem;
}
.lsmx-page ul li p:last-child{
    margin-top: .1rem;
    margin-left: .9rem;
    color: #777;
    font-size: .23rem;
}
.lsmx-page ul li span:last-child{
    float: right;
    margin-top: .25rem;
    margin-right: .3rem;
}
.lsmx-page ul li i.sr2_icon{
    background: url(../images/sr2_icon.png) no-repeat center;
    width: .5rem;
    height: .5rem;
    display: inline-block;
    background-size: 100%;
    vertical-align: text-bottom;
}
.lsmx-page ul li i.sr1_icon{
    background: url(../images/sr1_icon.png) no-repeat center;
    width: .5rem;
    height: .5rem;
    display: inline-block;
    background-size: 100%;
    vertical-align: text-bottom;
}
/*邀请扶持*/
.yqfc-page{
    width: 100%;
}
.yqfc-page .yqfc_header{
    margin: .3rem auto  ;
    width: 90%;
}
.yqfc-page .yqfc_header_item{
    width: 48%;
    height: 1.8rem;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    font-size: .23rem;
}
.yqfc-page .yqfc_header_item:first-child{
    background-color: #5095f4;
}
.yqfc-page .yqfc_header_item:last-child{
    background-color: #2bb2ac;
}
.yqfc-page .yqfc_header_item p:first-child{
    margin-top: .25rem;
}
.yqfc-page .yqfc_header_item p:nth-child(2){
    font-size: .4rem;
    font-weight: bold;
    margin: .1rem 0;
}
.yqfc-page .yqfc_title{
    font-weight: bold;
    font-size: .35rem;
    font-style: italic;
    color: #13b7b0;
    text-align: center;
}

.yqfc-page .yqfc_content{
    width: 92%;
    margin: 0 auto .35rem;
}
.yqfc_content .yqfc_content_item{
    width: 100%;
    height: 1.6rem;
    margin-top: .2rem;
}
.yqfc_content .yqfc_content_item .yqfc_content_item_l{
    width: 70%;

}
.yqfc_content .yqfc_content_item .yqfc_content_item_l .title{
    font-weight: bold;
    margin-top: .2rem;
    margin-left: .3rem;
    font-size: .28rem;
}
.yqfc_content .yqfc_content_item .yqfc_content_item_l .info{
    margin-top: .2rem;
    margin-left: .3rem;
    font-size: .22rem;
    width: 60%;
}

.yqfc_content .yqfc_content_item .yqfc_content_item_r{
    width: 30%;
    text-align: center;
    line-height: 1.6rem;
    color:#8d8d8d;
    font-size: .22rem;
    font-weight: bold;
}
.yqfc_content .yqfc_content_item .already_get{
    color: #ffffff;
}

.yqfc_content .yqfc_content_item .xj-content_l_bgk_1{

    background:  radial-gradient(circle at top right, transparent 5px, #bee6ee 0) top right,
    radial-gradient(circle at bottom right, transparent 5px, #bee6ee 0) bottom right;
    background-size: 100% 60%;
    background-repeat: no-repeat;
    color: #009b95;
}
.yqfc_content .yqfc_content_item .xj-content_r_bgk_1{
    background:  radial-gradient(circle at top left, transparent 5px, #00b9b1 0) top left,
    radial-gradient(circle at bottom left, transparent 5px, #00b9b1 0) bottom left;
    background-size: 100% 60%;
    background-repeat: no-repeat;
}

.yqfc_content .yqfc_content_item .xj-content_l_bgk_2{
    background:  radial-gradient(circle at top right, transparent 5px, #c9defd 0) top right,
    radial-gradient(circle at bottom right, transparent 5px, #c9defd 0) bottom right;
    background-size: 100% 60%;
    background-repeat: no-repeat;
    color: #2c80ef;
}
.yqfc_content .yqfc_content_item .xj-content_r_bgk_2{
    background:  radial-gradient(circle at top left, transparent 5px, #207df6 0) top left,
    radial-gradient(circle at bottom left, transparent 5px, #207df6 0) bottom left;
    background-size: 100% 60%;
    background-repeat: no-repeat;
}

.yqfc_content .yqfc_content_item .xj-content_l_bgk_3{
    background:  radial-gradient(circle at top right, transparent 5px, #fff1cb 0) top right,
    radial-gradient(circle at bottom right, transparent 5px, #fff1cb 0) bottom right;
    background-size: 100% 60%;
    background-repeat: no-repeat;
    color: #ffb821;
}
.yqfc_content .yqfc_content_item .xj-content_r_bgk_3{
    background:  radial-gradient(circle at top left, transparent 5px, #ffca5a 0) top left,
    radial-gradient(circle at bottom left, transparent 5px, #ffca5a 0) bottom left;
    background-size: 100% 60%;
    background-repeat: no-repeat;
}


.yqfc_content .yqfc_content_item .xj-content_l_bgk_4{

    background:  radial-gradient(circle at top right, transparent 5px, #eee2d6 0) top right,
    radial-gradient(circle at bottom right, transparent 5px, #eee2d6 0) bottom right;
    background-size: 100% 60%;
    background-repeat: no-repeat;
    color: #e88d29;
}
.yqfc_content .yqfc_content_item .xj-content_r_bgk_4{

    background:  radial-gradient(circle at top left, transparent 5px, #f79c33 0) top left,
    radial-gradient(circle at bottom left, transparent 5px, #f79c33 0) bottom left;
    background-size: 100% 60%;
    background-repeat: no-repeat;

}
.yqfc_content .yqfc_content_item .xj-content_l_bgk_5{

    background:  radial-gradient(circle at top right, transparent 5px, #efd8e0 0) top right,
    radial-gradient(circle at bottom right, transparent 5px, #efd8e0 0) bottom right;
    background-size: 100% 60%;
    background-repeat: no-repeat;
    color: #ff6f67;
}
.yqfc_content .yqfc_content_item .xj-content_r_bgk_5{
    background:  radial-gradient(circle at top left, transparent 5px, #ff6f67 0) top left,
    radial-gradient(circle at bottom left, transparent 5px, #ff6f67 0) bottom left;
    background-size: 100% 60%;
    background-repeat: no-repeat;

}
/*制造*/
.zz-body{
    background: url(../images/zzbj.png) no-repeat;
    background-size:100% ;
    width: 100%;
}
.zz-page{
    width: 100%;
    position: relative;
}
.zz-page .zz_header{
    width: 92%;
    margin: .25rem auto;
    text-align: center;
    color: #333333;
}
.zz-page .zz_inline_style{
    height: 1.2rem;
    background-color: #fff;
    border-radius:8px ;
    box-shadow: 0 0 2px 3px #daccff;
}

.zz-page .zz_header .zz_header_top{
    width: 96%;
    font-size: .21rem;
    font-weight: bold;
    margin: 0 auto;
    padding-top: .2rem;
}
.zz-page .zz_header .zz_header_top span{
    width: 16%;
    text-align: left;
}
.zz-page .zz_header .zz_header_top span:first-child{
    text-align: left;
    width: 42%;
}
.zz-page .zz_header .zz_header_top span:last-child{
    text-align: right;
    width: 35%;
}

.zz-page .zz_header .zz_header_top a{
    color: #ffffff;
    padding: 4px 10px;
    border-radius: 50px;
    background: linear-gradient(to bottom,#ff504b,#fe374c,#ff154f);
    font-size: .18rem;
}
.zz-page .zz_header .zz_header_top i.sd_icon{
    background: url("../images/sd_icon.png") no-repeat center;
    width: .3rem;
    height: .3rem;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
}

.zz-page .zz_header p{
    font-size: .4rem;
    margin-top: .1rem;
}
.zz-page .zz_mid {
    width: 92%;
    margin: 0 auto;
}
.zz_mid .wdzc_l{
    width: 32%;
    text-align: center;
    font-size: .22rem;
    color: #fe0032;
    height: .9rem;
}
.zz_mid .wdzc_l p:first-child{
    margin: .1rem auto 5px;
}
.zz_mid .wdzc_l p:last-child{
    font-size: .3rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.zz_mid .wdzc_r p img{
    width: 1.1rem;
    height: 1.1rem;
    margin-bottom: .2rem;
}
.wdzc_r .zyjq_item{
    position: relative;
}
.wdzc_r .zyjq_item i{
    position: absolute;
    top: 0;
    right: 0;
    height: .4rem;
    width: .4rem;
    line-height: .4rem;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    background-color: #ff0d4f;
    color: #ffffff;
    font-size: .2rem;
}
.zz-page .zz_content{
    position: fixed;
    bottom: 2.4rem;
    left: 5%;
    z-index: 100;
    width: 100%;
}
.zz-page .zz_tg{
    position: fixed;
    width: 86%;
    z-index: 101;
    top: 28%;
    left:7% ;
    height: 4rem;
}
.zz-page .zz_tg i{
    position: absolute;
    height: 1rem;
    width: 1rem;
    display: inline-block;
}
.zz-page .zz_tg i:nth-child(1){
    top:0;
    left:  1.5rem;
    background: url("../images/t1.png") no-repeat center;
    background-size: 100%;
    transform:rotate(20deg);
    -ms-transform:rotate(20deg); /* Internet Explorer */
    -moz-transform:rotate(20deg); /* Firefox */
    -webkit-transform:rotate(20deg); /* Safari 和 Chrome */
    -o-transform:rotate(20deg); /* Opera */
}
.zz-page .zz_tg i:nth-child(2){
    top:1rem;
    left: .5rem;
    background: url("../images/t2.png") no-repeat center;
    background-size: 100%;
    transform:rotate(142deg);
    -ms-transform:rotate(142deg); /* Internet Explorer */
    -moz-transform:rotate(142deg); /* Firefox */
    -webkit-transform:rotate(142deg); /* Safari 和 Chrome */
    -o-transform:rotate(142deg); /* Opera */
}
.zz-page .zz_tg i:nth-child(3){
    top: .6rem;
    left: 2.5rem;
    background: url("../images/t3.png") no-repeat center;
    background-size: 100%;
    transform:rotate(2deg);
    -ms-transform:rotate(2deg); /* Internet Explorer */
    -moz-transform:rotate(2deg); /* Firefox */
    -webkit-transform:rotate(2deg); /* Safari 和 Chrome */
    -o-transform:rotate(2deg); /* Opera */
}
.zz-page .zz_tg i:nth-child(4){
    top:30%;
    left: 80%;
    background: url("../images/t4.png") no-repeat center;
    background-size: 100%;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* Internet Explorer */
    -moz-transform:rotate(90deg); /* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg); /* Opera */
}
.zz-page .zz_tg i:nth-child(5){
    top:70%;
    left: 80%;
    background: url("../images/t5.png") no-repeat center;
    background-size: 100%;
    transform:rotate(40deg);
    -ms-transform:rotate(40deg); /* Internet Explorer */
    -moz-transform:rotate(40deg); /* Firefox */
    -webkit-transform:rotate(40deg); /* Safari 和 Chrome */
    -o-transform:rotate(40deg); /* Opera */
}
.zz-page .zz_tg i:nth-child(6){
    top:50%;
    left: 60%;
    background: url("../images/t5.png") no-repeat center;
    background-size: 100%;
    transform:rotate(25deg);
    -ms-transform:rotate(25deg); /* Internet Explorer */
    -moz-transform:rotate(25deg); /* Firefox */
    -webkit-transform:rotate(25deg); /* Safari 和 Chrome */
    -o-transform:rotate(25deg); /* Opera */
}

.zz-page .zz_content em{
    background: url(../images/tgj.png) no-repeat center;
    background-size: 85%;
    width: 90%;
    height: 4rem;
    display: inline-block;
}
.zz-page .zz_bottom{
    position: fixed;
    bottom: 1.1rem;
    left: 4%;
    height: 1.4rem;
    width: 92%;
}
.zz-page .zz_bottom .zz_bottom_item{
    width: 96%;
    margin: 0 auto;
    font-size: .24rem;

}

.zz-page .zz_bottom p.rate{
    width: 4rem;
    height: .3rem;
    background-color: #f6f6f6;
    border-radius: 10px;
    margin-top: .5rem;
    margin-bottom: .15rem;
}
.zz-page .zz_bottom i.rate_bgk{
    width: 50%;
    height: .3rem;
    background-color: #ffb228;
    border-radius: 10px;
    display: inline-block;
}
.zz-page .zz_bottom .zz_bottom_item_l{
    position: relative;
}
.zz-page .zz_bottom .zz_bottom_item_l i.rate_icon{
    background: url(../images/rate_icon.png) no-repeat center;
    width: .6rem;
    height: .45rem;
    text-align: center;
    line-height: .4rem;
    background-size: 100%;
    display: inline-block;
    font-size: .21rem;
    color: #4e2c10;
    position: absolute;
    font-weight: bold;
    top: 5px;
    left:50%;;
}
.zz-page .zz_bottom div.lqsy{
    background: url("../images/an.png") no-repeat center;
    background-size: 100%;
    height: 1.4rem;
    width: 1.2rem;
    vertical-align: middle;
}
/*制造领取记录*/
.zzlqjr-body .header_bt{
    border-bottom: 1px solid #f1f2f4;
}
.zzlqjr-page{
    width: 100%;
    background-color: #fff;
}
.zzlqjr-page li{
    height: .8rem;
    line-height: .8rem;
    width: 96%;
    margin-left: 4%;
    border-bottom: solid 1px #f1f2f4;
    font-size: .24rem;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.zzlqjr-page li .inc_red{
    color:#b52a3f;
    margin-right: 4%;
}
.zzlqjr-page li i{
    background: url("../images/arrow_r.png") no-repeat center;
    background-size:100% ;
    width: .3rem;
    height: .3rem;
    display: inline-block;
    vertical-align: middle;
    margin-left: .1rem;
}
/*制造领取明细*/
.zzlqmx-page li{
    height: 1rem;
    line-height: .4rem;
}
.zzlqmx-page li p:first-child {
    display: flex;
    flex-direction:column;

}
.zzlqmx-page li p:first-child span:first-child {
    font-size: .26rem;
    font-weight: bold;
    margin-top: .15rem;
}
.zzlqmx-page li p:first-child span:last-child {
    color:#777777;
    font-size: .23rem;
}

.zzlqmx-page .inc_blue{
    color:#0054c3;
    line-height: 1rem;
    margin-right: 4%;
}
/*兑换矿机*/
.dhkj-page{
    width: 100%;
}
.dhkj-page .dhkj_tips{
    width: 100%;
    height: .65rem;
    line-height: .65rem;
    text-align: center;
    background-color: #f6e1e6;
    color:#ff144f;
    font-size: .21rem;
}
.dhkj-page .dhkj_tips i.laba_icon{
    background: url(../images/laba_icon.png) no-repeat center;
    background-size: 100%;
    width: .3rem;
    height: .3rem;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 5px;
}
.dhkj-page .dhkj_header{
    width: 90%;
    margin: .15rem auto;
    height: .65rem;
    line-height: .65rem;
    border-radius:6px ;
    box-shadow: 0 0 2px 1px #d2d2d2;
}
.dhkj-page .dhkj_header span{
    width: 33%;
    text-align: center;
    font-size: .26rem;
    display: inline-block;
}
.dhkj-page .dhkj_header span.active{
    background-color: #254bde;
    color: #fff;
}
.dhkj-page .dhkj_header span.active_l{
    background-color: #254bde;
    color: #fff;
    border-radius:6px 0 0 6px ;
}
.dhkj-page .dhkj_header span.active_r{
    background-color: #254bde;
    color: #fff;
    border-radius:0 6px 6px 0 ;
}
.dhkj-page .dhkj_content{
    width:100%;
    margin: 0 auto .5rem;
}
.dhkj-page .dhkj_content .dhkj_item{
    width: 92%;
    margin: .18rem auto;
    height: 2.4rem;
    font-size: .24rem;
    color:#fff;
    border-radius: 10px;
    position: relative;
}
.dhkj_content .dhkj_item div{
    overflow: hidden;
    width: 92%;
    margin-left: 4%;
    margin-top: .15rem;
}
.dhkj_content .dhkj_item div.first_item{
    margin: .25rem auto .1rem;
}
.dhkj_content .dhkj_item div.last_item p em{
    margin-bottom: .15rem;
}
.dhkj_content .dhkj_item  span:last-child{
    float: right;
}
.dhkj_content .dhkj_item .title{
    font-weight: bold;
    font-size: .27rem;
}
.dhkj_content .dhkj_item a{
    height: .48rem;
    line-height: .48rem;
    width: 1.35rem;
    background-color: #ffffff;
    border-radius: 50px;
    font-size: .23rem;
    margin-top: .15rem;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}
.dhkj-page .gc{
    height: 2.4rem;
    opacity:.4;
    position: absolute;
    top:0;
    width: 100%;
    left: 0;
}
.dhkj-page .gc1{
    background: url("../images/gc1.png") no-repeat center;
    background-size: 60%;
}
.dhkj-page .gc1_bgk{
    background-color: #5991fe;
}
.dhkj-page .gc2{
    background: url("../images/gc2.png") no-repeat center;
    background-size: 55%;
}
.dhkj-page .gc2_bgk{
    background-color: #eeae7e;
}
.dhkj-page .gc3{
    background: url("../images/gc3.png") no-repeat center;
    background-size: 40%;
}
.dhkj-page .gc3_bgk{
    background-color: #5ab0a2;
}
.dhkj-page .gc4{
    background: url("../images/gc4.png") no-repeat center;
    background-size: 60%;
}
.dhkj-page .gc4_bgk{
    background-color: #fe7ebb;
}
.dhkj-page .expire_bgk{
    background-color: #d6d6d6;
}
/*新手教程*/
.xsjc-page .xsjc_header{
    width: 100%;
    border-bottom: 8px solid #f5f5f5;
    border-top: 6px solid #f5f5f5;
}
.xsjc-page .xsjc_header li{
    display: flex;
    flex-direction:column;
    width: 32%;
    text-align: center;
    font-size: .21rem;
    color: #858585;
    padding: .2rem 0;
}
.xsjc-page .xsjc_header i{

    width: .3rem;
    height: .3rem;
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: .1rem;
}
.xsjc-page .xsjc_header i.jc_1{
    background: url("../images/jc_1.png") no-repeat center;
    background-size: 90%;
}
.xsjc-page .xsjc_header i.jc_2{
    background: url("../images/jc_2.png") no-repeat center;
    background-size: 75%;
}
.xsjc-page .xsjc_header i.jc_3{
    background: url("../images/jc_3.png") no-repeat center;
    background-size: 75%;
}
.xsjc-page .xsjc_header li span:first-child{
    font-size: .28rem;
    font-weight: bold;
    color:#333;
    margin-bottom: .1rem;
}
.xsjc-page .xsjc_header ul em{
    height: .7rem;
    width: 1px;
    display: inline-block;
    margin-top: .3rem;
    background-color: #e8e8e8;
}
.xsjc-page .xsjc_content{
    width: 90%;
    margin: 0 auto .5rem;
}
.xsjc-page .xsjc_content h2{
    margin: .25rem auto 0;
    font-weight:bold;
    font-size: .25rem;
}

.xsjc-page .xsjc_content p{
    margin: .15rem auto 0;
    line-height: .5rem;
    font-size: .24rem;
}
/*我要卖*/
.wym-page{
    width: 100%;
}
.wym-page .wym_header{
    width:100%;
    background-color: #05b793;
    color:#fff
}
.wym-page .wym_header .wym_header_top{
    width: 90%;
    margin: 0 auto;
    padding-top: .25rem;
}
.wym-page .wym_header .wym_header_top p:nth-child(1){
    width: 22%;
}
.wym-page .wym_header .wym_header_top p:nth-child(2){
    width: 58%;
}
.wym-page .wym_header .wym_header_top p:nth-child(3){
    width: 20%;

}
.wym-page .wym_header .wym_header_top p:nth-child(2) span{
    font-size: .3rem;
}
.wym-page .wym_header .wym_header_top p:nth-child(3) span{
    font-size: .2rem;
    color: #fff;
}
.wym-page .wym_header .wym_header_top p:nth-child(2) span.active{
    font-weight: bold;
}
.wym-page .wym_header i{
    display: inline-block;
    vertical-align: middle;
}
.wym-page .wym_header i.refresh_icon{
    background: url("../images/refresh_icon.png") no-repeat center;
    width: .3rem;
    height: .3rem;
    background-size: 100%;
}
.wym-page .wym_header i.dd_icon{
    background: url("../images/dd_icon.png") no-repeat center;
    width: .3rem;
    height: .3rem;
    background-size: 100%;
    margin-left: 3px;
}
.wym-page .wym_header i.sz_icon{
    background: url("../images/sz_icon.png") no-repeat center;
    width: .3rem;
    height: .3rem;
    background-size: 110%;
    margin-left: 3px;
}
.wym_header .wym_header_mid{
    color:#fff;
    font-size: .24rem;
}
.wym_header .wym_header_mid span{
    width: 40%;
    height: .5rem;
    line-height: .5rem;
    background-color: #6ad4be;
    text-align: center;
    margin: .25rem auto .1rem;
}
.wym_header .wym_header_mid input.input_line{
    height: .5rem;
    line-height: .5rem;
    font-size: .24rem;
    width: 75%;
    background-color: #6ad4be;
    color: #fff;
    padding-left: 5px;
}
.wym_header .wym_header_mid input.input_line::placeholder{
    color:#fff;
}
.wym-page .wym_header_mid i.ss_icon{
    background: url("../images/ss_icon.png") no-repeat center;
    width: .3rem;
    height: .3rem;
    background-size: 80%;
}
.wym-page .wym_content{
    width: 100%;
    margin-bottom: .5rem;
}
.wym_content .wym_content_item{
    width: 90%;
    margin: 0 auto;
    border-bottom: #f5f5f5 6px solid;
}
.wym_content .wym_content_item:last-child{
    border-bottom:none;
}
.wym_content_item .item_top{
    border-bottom: 1px solid #f5f5f5;
    font-size: .25rem;
    overflow: hidden;
}
.wym_content_item .over_hidden p.first_p{
    margin-top: .3rem;
}
.wym_content_item .item_top span{
    font-size: .23rem;
    color:#c1c4c5
}
.wym_content_item .item_top .wym_price{
    font-size: .24rem;
    font-weight: bold;
    color:#f9bd11;
    float: left;
    margin-top: .1rem;
}

.wym_content_item .item_top img{
    width: .8rem;
    height: .8rem;
    float: left;
    margin: .3rem .3rem .3rem 0;
}
.wym_content_item .item_top .wym_buy{
    float: right;
    color:#05b793;
    font-size: .24rem;
    font-weight: bold;
    margin-right: .15rem;
}
.wym_content_item ul{
    width: 100%;
    margin:  .2rem auto .15rem;
}
.wym_content_item ul li{
    margin-bottom: .12rem;
    color:#939498;
    font-size: .25rem;
}
.wym_content_item ul li span:last-child{
    color:#252b31;
    font-size: .21rem;
    margin-left: 1.5rem;
}
.wym_content_item ul i.zfb_icon{
    width: .32rem;
    height: .32rem;
    background: url('../images/zfb_icon.png') no-repeat center;
    background-size: 100%;
    display: inline-block;
    vertical-align: bottom;
}
.red_icon{
     position: absolute;
     background: url(../images/red_icon.png) no-repeat center;
     background-size: 100%;
     width: .3rem;
     height: .3rem;
 }
.wym_header_top .red_icon{
    right: 17%;
    bottom: 0;
}
.footer_active_f3 .red_icon{
    left: 16%;
    bottom: 9%;
}
/*我要买*/
.wym-page .wym_xq ,.wym_cx{
    width: 94%;
    margin: .2rem auto;
    background-color: #fff;
    border-radius: 10px;

}
.wym-page .wym_xq ul{
    width: 90%;
    margin: 0 auto;
    padding-top: .35rem;
}
.wym-page .wym_xq ul li{
    font-size: .25rem;
    color:#000;
    margin-bottom: .35rem;
}
.wym-page .wym_xq ul li span:last-child{
    margin-left: .8rem;
    color:#6e7070;
    font-size: .23rem;
}
.wym-page .wym_xq ul li span:last-child .input_line{
    font-size: .22rem;
    width: 55%;
    height: .6rem;
    line-height: .6rem;
    border-radius: 15px;
    padding-left: .25rem;
    border: 1px solid #efefef;
}
.wym_xq .wym_btn{
    padding-bottom: .4rem;
    text-align: center;
}
.wym_xq button{
    padding: 8px 18px;
    color:#fff;
    background-color: #09b497;
    border-radius: 5px;
    font-size: .26rem;
    display: inline-block;
}
.wym_cx ul{
    width: 90%;
    padding-top: .25rem;
    margin: 0 auto;
}
.wym_cx ul li{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    font-size:.24rem ;
    margin-bottom:.2rem ;
}
.wym_cx ul li span:last-child{
    font-weight: bold;
    color:#999;
    font-size:.23rem ;
}
.wym_cx ul li span.red_color{
    color:#f2551e
}
.wym_cx ul li.zfb_li{
    border-top: 1px solid #efefef;
    padding-top: .2rem;
}
.wym_cx ul  i.zfb_icon{
    width: .35rem;
    height: .35rem;
    background: url("../images/zfb_icon.png") no-repeat center;
    background-size: 100%;
    display: inline-block;
}
.wym_cx .title{
    font-weight:bold;
    font-size: .26rem;
}
.wym_cx ul  li.zfb_li a{
    padding: 4px 24px;
    background-color: #f0f0f0;
    font-size: 0.25rem;
    font-weight: bold;
    color: #000;
    border-radius: 6px;
    box-shadow: 0 3px 3px 2px #f6c0a6;
}
/*法币订单*/
.fbdd-page .fbdd-qhzt{
    background-color: #fff;
    padding-top:.3rem ;

}
.fbdd-page .fbdd-qhzt span{
    font-size: .27rem;
    font-weight: bold;
    color:#bfbfbf;
    margin-left: 6%;
    padding-bottom:  .15rem;
    display: inline-block;
}
.fbdd-page .fbdd-qhzt span.active{
    color:#05b793;
    border-bottom: 2px solid #05b793;
}
.fbdd-f ul li  a.m1_bgk{
    background-color: #f75e2a;
    color:#fff;
    box-shadow: 0 3px 3px 2px #f75e2a;
}
.fbdd-f ul li a.m2_bgk{
    background-color: #05b793;
    color:#fff;
    box-shadow: 0 3px 3px 2px #05b793;
}
/*订单详情*/
.ddxq-page {
    width: 92%;
    margin: .3rem auto;
    border-radius: 6px;
    background-color: #fff;
    padding-bottom: .2rem;
}
.ddxq-page ul{
    width: 94%;
    margin: 0 auto;
    padding-top: .2rem;

}
.ddxq-page ul li{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    font-size: .25rem;
    font-weight: bold;
    padding-top: .28rem;
    padding-bottom: .28rem;
    border-bottom: 1px solid #efefef;
}
.ddxq-page ul li span a{
    padding: 5px 10px;
    background-color: #05b793;
    color: #fff;
    font-weight:bold ;
    border-radius: 5px;
    font-size: .23rem;
}
.ddxq-page p.tips{
    width: 94%;
    margin: 0 auto;
    font-size: .23rem;
    margin-top: .2rem;
}
.ddxq-page p.wx_tips{
    color: #05b793;

}
.ddxq-page li i.dhp_icon{
    background: url(../images/dhp_icon.png) no-repeat center;
    background-size: 100%;
    width: .35rem;
    height: .4rem;
    display: inline-block;
    vertical-align: bottom;
    margin-left: .1rem;;

}
.ddxq-page .upload_page .upload_show{
    width: 42%;
    border-radius: 6px;
    height: 2.2rem;
    text-align: center;
    margin: .15rem auto 0;
    font-weight: bold;
    font-size: .3rem;
}
.ddxq-page .upload_page .upload_show:first-child img{
    height: 1.8rem;
    width: 1.4rem;
    text-align: center;
    margin-top: .2rem;
}
.ddxq-page .upload_page .upload_show:last-child{
    line-height: 2.2rem;
}
.ddxq-page .upload_page .no_pay_l{
    position: relative;
    text-align: center;
}
.ddxq-page .upload_page .no_pay_l .file_text{
    margin-top: 20%;
    color:#fff;
    font-size: .28rem;
    font-weight: bold;
    display: none;
}

.ddxq-page .upload_page .no_pay_l i{
    background: url('../images/upload_icon.png') no-repeat center;
    background-size: 100%;
    width: .8rem;
    height: .8rem;
    display: inline-block;
}

.ddxq-page .upload_page .no_pay_l .input_line{
    overflow: hidden;
    width: 100%;
    height: 3rem;
    opacity: 0;
    position:absolute;
    bottom: 0;
    left: 0;
}

.ddxq-page .upload_page .no_pay_r{
    color:#fff;
    font-size: .3rem;

}
.ddxq-page .upload_page .no_pay{
    background-color: #d2d2d2;
}
.ddxq-page .upload_page .pay{
    background-color: #eafffb;
    color:#05b793;
}
/*福利*/
.fl-page{
    width: 100%;
    margin-bottom: .25rem;
}
.fl_header{
    width: 100%;
    height: 3.2rem;
}
.fl_header img{
    width: 100%;
    height: 100%;
}
.fl-page .fl_content ul{
    width: 100%;
}
.fl-page .fl_content ul li{
    width: 33%;
    border:1px solid #ededed ;
    font-size: .26rem;
    text-align: center;
    margin-right:-1px;
    margin-top:-1px;

}
.fl-page .fl_content ul li a{
    display: flex;
    flex-direction:column;
}

.fl-page .fl_content ul li img{
    margin: .3rem auto .25rem ;
    height: .65rem;
    width: .65rem;
    display: inline-block;
}
.fl-page .fl_content ul li .subtitle{
    color: #84898f;
    font-size: .24rem;
    margin: .1rem auto .25rem;
}
/*每日任务*/
.mrrw-page{
    width: 100%;
}

.mrrw-page .mrrw_header{
    width: 90%;
    margin: .3rem auto;
    font-size: .26rem;
}
.mrrw-page .mrrw_header span:last-child{
    font-size: .24rem;
    color:#747377;
}
.mrrw-page .mrrw_header i.tguo{
    color:#fe8503;
}
.mrrw-page .mrrw_content{
    width: 90%;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto .25rem;
}
.mrrw-page .mrrw_content .mrrw_content_item{
    width: 92%;
    margin: 0 auto;
    height: 1.4rem;
    font-size: .26rem;
    border-bottom: 1px solid #efefef;
}
.mrrw-page .mrrw_content .mrrw_content_item:last-child{
    border-bottom:none;
}
.mrrw_content .mrrw_content_item .over_hidden{
    margin: .2rem auto;
}
.mrrw_content .mrrw_content_item img{
    width: .65rem;
    height: .65rem;
    margin-right: .2rem;
    margin-top: .15rem;
    float: left;
}
.mrrw_content .mrrw_content_item p.tang{
    color:#fc8503;
    float: left;
    font-size: .25rem;
    margin-top: 3px;
}
.mrrw_content .mrrw_content_item .float_l{
    margin-top: .15rem;
}
.mrrw_content .mrrw_content_item span{
    font-size: .24rem;
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    float: right;
    background-color: #d1d1d1;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    width: 1.1rem;
    margin-top: .2rem;
}
.mrrw_content .mrrw_content_item span.active{
    background-color: #4adfc5;
    color: #fff;
}
/*聚合闪兑*/
.sdui-page{
    width: 92%;
    border-radius: 5px;
    border: 1px solid #ececee;
    margin: .2rem auto;
}
.sdui-page .sdui_header{
    position: relative;
}
.sdui-page .sdui_header i.jh_icon{
    position: absolute;
    left: 64%;
    top: 38%;
    background: url(../images/jh2.png) no-repeat center;
    background-size: 100%;
    width: .75rem;
    height: .75rem;
    display: inline-block;
}

.sdui-page .sdui_item{
    width: 100%;
    border-bottom:  1px solid #ececee   ;
}


.sdui-page .sdui_item .sdui_item_l{
    width: 70%;
    font-size: .24rem;
    color:#72727a
}
.sdui-page .sdui_item .sdui_item_l p:first-child{
    margin-left: 5%;
    padding-top: .2rem;
    padding-bottom: .3rem;
}
.sdui-page .sdui_item .sdui_item_l p:last-child{
    padding-bottom: .4rem;
    margin-left: 5%;
}
.sdui-page .sdui_item  .title{
    font-size: .3rem;
    font-weight: bold;
    color:#20232a;
    margin-right: .15rem;
}
.sdui-page .sdui_item  .all{

    color:#6682d6
}

.sdui-page .sdui_item .input_line{
    font-size: .28rem;
    color: #a8aab6;
}
.sdui-page .sdui_item .sdui_item_r{
    width: 28%;
    font-size: .28rem;
    color:#20232b;
    text-align: center;
}
.sdui-page .sdui_item .sdui_item_r .t1_icon{
    width: .55rem;
    height: .5rem;
    background: url(../images/t1.png) no-repeat center;
    background-size: 100%;
    display: inline-block;
    margin-left: 35%;
    margin-top: .35rem;
    margin-bottom: .1rem;
}
.sdui-page .sdui_item .sdui_item_r .tguo_icon{
    width: .6rem;
    height: .55rem;
    background: url(../images/tguo_icon.png) no-repeat center;
    background-size: 100%;
    display: inline-block;
    margin-left: 30%;
    margin-top: .35rem;
    margin-bottom: .1rem;

}
.sdui-page .sdui_item .vertical_line{
    width: 1px;
    height: .6rem;
    background-color: #ececee;
    display: inline-block;
    margin-top: .5rem
}
.sdui-page .input_usdt{
    border-bottom:  1px solid #ececee   ;

    color: #70737a;
}
.sdui-page .input_usdt .input_line{
    padding-top: .3rem;
    padding-bottom: .3rem;
    margin-left: 5%;
    width: 90%;
    font-size: .24rem;
}
.sdui-page .sxf_item{
    font-size: .24rem;
    color: #70737a;
    margin-bottom: .25rem;
}
.sdui-page .sxf_item p{
    margin-left: 5%;
    margin-top: .2rem ;
}
.sdui-page .sxf_item p span:last-child{
    margin-left: .26rem;
}
.sdui_btn{
    position: fixed;
    bottom: .4rem;
    width: 80%;
    left: 10%;
    height: .8rem;
    line-height: .8rem;
    font-size: .28rem;
    color: #fff;
    background-color: #c3caf8;
    border-radius: 50px;
    text-align: center;
}
/*借的到*/
.jdd-page{
    width: 100%;
}
.jdd-page .jdd_item{
    margin:1rem auto 1.5rem;
    text-align: center;
    font-size: .25rem;
    color:#84898f
}
.jdd-page .jdd_item .price{
    font-weight:bold ;
    font-size: .7rem;
    color: #040c1d;
    margin: .15rem auto;
}
.jdd-page .jdd_item em{
    font-size: .35rem;
    vertical-align: super;
}

.jdd-page .jdd_ljjq_btn{
    width: 80%;
    margin-left: 10%;
    height: .75rem;
    line-height: .75rem;
    text-align: center;
    font-size: .26rem;
    background-color: #407aff;
    color:#fff;
    border-radius: 5px;
}
.jdd_bot{
    position: fixed;
    width: 100%;
    bottom: .2rem;
    left:0;
}
.jdd_bot p{
    text-align: center;
    margin-bottom: .12rem;
}
.jdd_bot p a{
    font-size: .23rem;
    color: #b7b7bb;
}
.jdd_bot p .jkjl{
    color: #407aff;
}
/*闪付卡*/
.sfk_body{
    height: 100%;
}
.sfk-page{
    background: url("../images/suc2.png") no-repeat center;
    background-size: 100%;
    width: 100%;
    height: 80%;
}
.sfk-page .sfk_bot{
    position: fixed;
    bottom: .5rem;

    width: 80%;
    left: 10%;

    text-align: center;
}
.sfk-page .sfk_bot button{
    height: .8rem;
    line-height: .8rem;
    border-radius: 10px;
    color:#fff;
    background-color: #53c681;
    font-size: .25rem;
    font-weight: bold;
    display: inline-block;
    width: 100%;
}
.sfk-page .sfk_bot p{
    font-size: .23rem;
    color: #b7b7bb;
    margin-bottom: .3rem;
}

.sfk-page .sfk_bot p i{
    color: #2363f9;
}
/*糖果收款*/
.tgsk-page{
    width: 100%;
    text-align: center;
    margin: .6rem auto 0;
}
.tgsk-page p.title{
    color:#919598;
    font-size: .23rem;
    margin-bottom: .6rem;
}
.tgsk-page p img{
    height: 2rem;
    width: 2rem;
}
.tgsk-page p.phone{
    margin:.6rem auto;
    font-size: .25rem;
    font-weight: bold;
}
.tgsk-page .copy_skh span{
    padding: 8px 15px;
    color: #08b693;
    font-size: .25rem;
    box-shadow:0 1px 1px 1px #f2f2f2 ;
}
.bot_tips{
    width: 84%;
    margin-top: .6rem;
    color: #909598;
    font-size: .23rem;
    margin-left: 8%;
}
/*糖果记录*/
.tgsk_detail-page{
    width: 90%;
    margin: 0 auto;
}
.tgsk_detail-page ul{
    overflow: hidden;
}
.tgsk_detail-page ul li{
    border-bottom: 1px solid #eeee;
    font-size: .24rem;
}
.tgsk_detail-page li  img{
    height: .8rem;
    width: .8rem;
    margin-right: .25rem;
    float: left;
    border-radius: 50%;
    margin-top: .2rem;
}
.tgsk_detail-page li p:nth-child(2){
    margin: .1rem auto;
}
.tgsk_detail-page li .float_l{
    margin: .2rem auto;
}
.tgsk_detail-page li p.times{
    font-size: .22rem;
    color:#999;
}

.tgsk_detail-page li span{
    float: right;
    font-size: .28rem;
    font-weight: bold;
    margin-top: .2rem;
}
/*划转糖果*/
.hztg-page{
    width: 100%;
}
.hztg-page ul{
    margin: .3rem auto .4rem;
}
.hztg-page li{
    height: .8rem;
    line-height: .8rem;
    width: 80%;
    margin: 0 auto;
    margin-bottom: .35rem;
    background-color: #f4f5f5;
    border-radius: 4px;
}
.hztg-page li:hover{
    box-shadow:0 0 2px 1px #56d576;
}
.hztg-page li .input_line{
    width: 90%;
    background-color: #f4f5f5;
    font-size: .24rem;
    color: #808487;
    padding-left: .15rem;
}
.hztg-page .hztg_bot{
    width: 80%;
    margin: 0 auto;
}
.hztg-page .hztg_bot button{
    width: 100%;
    height: .65rem;
    line-height: .65rem;
    color: #fff;
    font-size: .22rem;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    background-color: #919598;
    border-radius: 4px;
}
.hztg-page .hztg_bot .tips{
    margin-top: .2rem;
    font-size: .23rem;
    color:#ffc008
}
/*糖果转盘*/
.tgzp_body{
    width: 100%;
    height: 100%;
}
.tgzp-page .tgzp_header{
    width: 100%;
    height: 3.58rem;;
    background: url("../images/zp_header_bgk.png") no-repeat center;
    background-size: 100%;
    position: relative;
    text-align: center;
}
.tgzp_header i.psq_icon{
    width: 60%;
    height: .8rem;
    background: url(../images/1tgpsq.png) no-repeat center;
    background-size: 80%;
    display: inline-block;
    margin-top: .4rem;
}
.tgzp_header i.zj_icon{
    width: 30%;
    height: .4rem;
    background: url(../images/111.png) no-repeat center;
    background-size: 100%;
    display: inline-block;
}
.tgzp_header .tips_icon{
    height: 1rem;
    width: 65%;
    line-height: 1rem;
    background: url('../images/hfbb.png') no-repeat center;
    background-size: 100%;
    text-align: center;
    font-size: .22rem;
    display: inline-block;
}
.tgzp_header .dbbb_icon{
    height: .8rem;
    line-height: .8rem;
    width:55%;
    background: url('../images/dbbb.png') no-repeat center;
    background-size: 100%;
    font-size: .22rem;
    color: #ffffff;
    display: inline-block;
}
.tgzp_header .tgs_bkg{
    height: .8rem;
    line-height: .82rem;
    background: url(../images/jsk.png) no-repeat center;
    background-size: 100%;
    width: 38%;
    font-size: .22rem;
    text-align: center;
    display: inline-block;
    color: #000;
    margin-left: .1rem;
}
.tgzp_header .tgzp_l{
    position: absolute;
    width: 1.4rem;
    height: 2rem;
    background: url(../images/zbb.png) no-repeat center;
    background-size: 100%;
    bottom: -2px;;
    left: 0;
}
.tgzp_header .tgzp_r{
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    background: url(../images/yb.png) no-repeat center;
    background-size: 100%;
    bottom: -1px;
    right: 0;
}
/*糖果转盘*/
.tgzp_content{
    width: 100%;
    height: 7.8rem;
    background: url(../images/hbj.png) no-repeat center;
    background-size: 100%;
    text-align: center;
}
.tgzp_content .left_cj{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: .23rem;
    margin-bottom: .2rem;
    margin-top: .5rem;
    display: inline-block;

}
.tgzp_content .left_cj em{
    color:#ffcc73;
}
.tgzp_content ul{
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.tgzp_content ul li{
    background: url(../images/fangk.png) no-repeat center;
    background-size: 100%;
    width: 24%;
    height: 1.5rem;

}
.tgzp_content ul li img{
    width: .9rem;
    height: .5rem;
    margin-top: .35rem;
}

.tgzp_content ul li p{
    color:#502201;
    font-size: .24rem;
    font-weight: bold;
}
.tgzp_content ul li.no_style{
    background: none;
}

.tgzp_content ul li.an_btn{
    position: absolute;
    top: 1.5rem;
    left: 26%;
    background: url(../images/anjian.png) no-repeat center;
    background-size: 100%;
    width: 47%;
    height: 3rem;
}
.tgzp_content .wdjp{
    width: 100%;
    text-align: center;
    margin-top: .2rem;
    font-size: .28rem;
    font-weight: bold;
    color: #420001;
}















.wd_line{
    height:  .15rem;
    width: 100%;
    background-color: #f6f7f9;
}

/*错误提示*/
.errmsg{
    text-align: center;
    font-size: .24rem;
    height: .55rem;
    margin: .2rem auto .3rem;
}
.errmsg i{
    height: .55rem;
    line-height: .55rem;
    padding: 0 .45rem;
    display: inline-block;
}
.errmsg .tipmsg{
    background-color: #d9d9d9;
    border-radius: 20px;
}


/*底部-top*/
.footer_main{position: fixed;left:0;bottom:0;width: 100%;height: .9rem;background-color: #fff;z-index: 9;}
.footer_main ul{width: 100%;font-size: .2rem;}
.footer_main ul li{float:left;width: 20%;padding: .55rem 0 .1rem 0;text-align: center;position: relative;}
.footer_main ul li a{color: #a3a3a3;}
.footer_main ul li.footer_fl{background: url("../images/gw-xz.png") center .05rem no-repeat;background-size: .43rem;}
.footer_main ul li.footer_f2{background: url("../images/zz-xz.png") center .05rem no-repeat;background-size: .43rem;}
.footer_main ul li.footer_f3{background: url("../images/jy-xz.png") center .05rem no-repeat;background-size: .43rem;}
.footer_main ul li.footer_f4{background: url("../images/fl-xz.png") center .05rem no-repeat;background-size: .43rem;}
.footer_main ul li.footer_f5{background: url("../images/wd-xz.png") center .05rem no-repeat;background-size: .43rem;}
.footer_main ul li.footer_active_f1{background: url("../images/gw-wxz.png") center .05rem no-repeat;background-size: .43rem;}
.footer_main ul li.footer_active_f2{background: url("../images/zz-wxz.png") center .05rem no-repeat;background-size: .43rem;}
.footer_main ul li.footer_active_f3{background: url("../images/jy-wxz.png") center .05rem no-repeat;background-size: .43rem;}
.footer_main ul li.footer_active_f4{background: url("../images/fl-wxz.png") center .05rem no-repeat;background-size: .43rem;}
.footer_main ul li.footer_active_f5{background: url("../images/wd-wxz.png") center .05rem no-repeat;background-size: .43rem;}
.footer_main ul li[class*="footer_active_f"] a{
    color:#ffb200
}
/*底部-end*/










































