<nav class="mui-bar mui-bar-tab my-nav">
    <a class="mui-tab-item mui-active" href="{:url('index/index','','',true)}" >
        <!--<span class="mui-icon mui-icon-home"></span>-->
        <img src="/static/img/dbsy.png" data-image="dbsy">
        <span class="mui-tab-label">首页</span>
    </a>
    <a class="mui-tab-item" href="{:url('product/index','','',true)}" >
        <img src="/static/img/dbmo.png" data-image="dbmo" >
        <span class="mui-tab-label">晶盒</span>
    </a>
    <a class="mui-tab-item" href="{:url('market/index','','',true)}" >
        <img src="/static/img/dbjy.png" data-image="dbjy" >
        <span class="mui-tab-label">交易</span>
    </a>
    <a class="mui-tab-item" href="{:url('member/index','','',true)}" >
        <img src="/static/img/dbwd.png" data-image="dbwd" >
        <span class="mui-tab-label">我的</span>
    </a>
</nav>