<!DOCTYPE html>
<html id="change-password">

<head>
	<meta charset="utf-8">
	<title>修改密码</title>
	{include file="layout/head" /}
</head>

<body class="login-body">
<header class="mui-bar mui-bar-nav my-header" style="background-color: #17c3e5">
	<a href="/index/member/set" class="mui-icon mui-icon-left-nav mui-pull-left"></a>

	<h1 class="mui-title">修改密码</h1>
</header>
<div style="top: 44px;z-index: 50;"
	 class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary my-tabs">
	<a class="mui-control-item mui-active" >
		登录密码
	</a>
	<a class="mui-control-item "   href="{:url('member/safePassword')}">
		交易密码
	</a>
</div>
<div class="mui-content container">
	<form action="{:url('member/updatePassword')}" class="mui-input-group" id="change-password-form" method="post">
		<div class="mui-input-row my-input-row">
			<label>原密码</label>
			<input type="password" onsubmit="return false" class="mui-input-password" placeholder="请输入原密码"
				   name="old_pwd">
		</div>
		<div class="mui-input-row my-input-row">
			<label>新密码</label>
			<input type="password" onsubmit="return false" class="mui-input-password" placeholder="请输入密码"
				   name="new_pwd">
		</div>
		<div class="mui-input-row my-input-row">
			<label>确认密码</label>
			<input type="password" class="mui-input-password" placeholder="请输入密码" name="confirm_pwd">
		</div>
	</form>
	<button type="submit" data-form="change-password-form" onclick="ajaxPost(this)"
			class="mui-btn mui-btn-warning my-btn" data-loading-text="登录中">确定
	</button>
</div>
{include file="layout/footer" /}
</body>
</html>
