<!doctype html>
<html style="height: 100%">
<head>
    <title>招募</title>
    {include file="layout/head" /}
</head>
<body style="height: 100%">
<div class="mui-content" style="background: url('{$path}');background-size: cover;height: 100%">
    <div class="mui-scroll">
        <header class="mui-bar mui-bar-nav my-header" style="background: rgba(255,255,255,.0);">
            <a href="{:url('member/index')}" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"
               style="color: white;"></a>
        </header>
    </div>

</div>
{include file="layout/footer" /}
</body>

</html>